<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}
    <h1>About</h1>
    <p>this is about page</p>
    <img src="/img/rranjan.png"
    {{>footer}}
</body>
</html>