body{
    max-width: 800px;
    margin: 16px auto;
    font: 200px;
    background: rgb(166, 236, 241);
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: url(/img/weathering.jpeg); */
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header{
    color:rgb(201, 103, 12);
    margin-bottom:8px;
    padding: 0px;
}
footer{
   color:#888888;
   border-top:1px solid rgb(172, 166, 166);
   margin-top: 16px;
   padding: 16px 0px;
}
a{
    margin-right:12px;
    font-size: 18px;
    padding: 0px;
}
div a{
text-decoration: none;
color: rgb(117, 8, 8);
}
div a:hover{
    color: slateblue;
}
p{
    font-size: 20px;
}
h1{
    font-size: 64px;
}
h2{
    font-size: 36px;
}
img{
    width: 240px;
}
#message-1{
    color: rgb(231, 12, 114);
}
#message-2{
    color: rgb(231, 12, 114);
}#message-3{
    color:rgb(231, 12, 114);
}
#message-4{
    color:rgb(231, 12, 114);
}
#message-5{
    color: rgb(231, 12, 114);
}
button{
    background-color: rgb(7, 156, 32);
    font-size:16px ;
}
.main-content{
    flex-grow: 1;
}
input{
    font-size: 16px;
}